.pokemonDiv{
    margin: 24px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 12px;
    margin-left: 70px;
}
.pokemon{
    height:180px;
    /* width:180px; */
    border: 1px solid red; 
    background-image: url('../../public/images/Pokeball.webp');
    background-size: cover;
    background-color: navy;
}


